<ion-view>
    <ion-header-bar align-title="left" class="bar-calm">
        <div class="buttons">
            <button class="button icon ion-android-arrow-back" ng-click="goBackView()">返回</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button icon ion-ios-home" ng-click="goToMain()">首页</button>
        </div>
    </ion-header-bar>
    <br/>
    <ion-content style="width: 100%;margin-top: 5px">
        <input  class="form-control" id="orderNumber" style="width: 94%;margin-left: 10px" placeholder="请输入订单号查询已提交的派车单！"/>
        <table style="width:100%;margin-top: 5px">
            <tr>
                <td><input id="jqueryPicker" readonly class="form-control" ng-model="beforeTime" style="width: 90%;margin-left: 10px" ng-click="touch('#jqueryPicker','date')"/>
                </td>
                <td>一</td>
                <td>
                    <input id="jqueryPicker1" readonly class="form-control" ng-model="lastTime" style="width: 90%;margin-left: 5px" ng-click="touch('#jqueryPicker1','date')"/>
                </td>
            </tr>
        </table>
        <button class="button button-small light" style="width: 93%;margin-left: 10px;margin-top: 10px;padding: -10px 0 0 0;background-color: skyblue" ng-click="checkTheOrder('submitOrder')">查询</button>
        <div ng-repeat="theCheckOrder in theCheckOrderList">
            <div style="border: double 1px #dddddd;margin-left: 10px;width: 94%;margin-top: 10px">
                <table style="width: 100%;margin-top: 3px;margin-left: 2px">
                    <tr>
                        <td>派车单:{{theCheckOrder.sendid}}</td>
                        <td>车牌号:{{theCheckOrder.drivernumber}}</td>
                    </tr>
                </table>
                <table style="width: 100%;margin-top: 3px;margin-left: 2px">
                    <tr>
                        <td>开单日期:{{theCheckOrder.billingdate.substr(0,10)}}</td>
                        <td>车型:{{theCheckOrder.drivertype}}</td>
                    </tr>
                </table>
                <table style="width: 100%;margin-top: 3px;margin-left: 2px">
                    <tr>
                        <td>预约时间:{{theCheckOrder.ordertime.substr(0,16)}}</td>
                        <td>拼车:{{theCheckOrder.isheche == "Y"?"是":"否"}}</td>
                    </tr>
                </table>
                <table style="width: 100%;margin-top: 3px;margin-left: 2px">
                    <tr>
                        <td>司机姓名:{{theCheckOrder.sjusername}}</td>
                        <td>电话:{{theCheckOrder.phone}}</td>
                    </tr>
                </table>
                <table style="width: 100%;margin-top: 5px;margin-left: 2px;text-align: center;">
                    <tr>
                        <td><button class="button button-small button-outline button-calm" style="width: 95%" ng-show="theCarStatus($index)=='未到'" ng-click="goToRevisrTheHavedOrder($index)">修改</button></td>
                        <td style="color: red">{{theCarStatus($index)}}</td>
                        <td><button class="button button-small button-outline button-calm" style="width: 95%" ng-show="theCarStatus($index)=='未到'" ng-click="delTheSavedOrder($index)">删除</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="height: 30px"></div>
    </ion-content>

</ion-view>

