
<ion-view>
    <ion-header-bar align-title="left" class="bar-calm">
        <div class="buttons">
            <button class="button icon ion-android-arrow-back" ng-click="goBackView()">返回</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button icon ion-ios-home" ng-click="goToMain()">首页</button>
        </div>
    </ion-header-bar>
    <ion-content>

        <div id="myDiv" style="text-align: center;width: 150px;margin: 20px auto">
            <button id="sendCarButton" class="button" style="width: 100%;height: 150px;margin-top: 20px;border-radius:75px;background-color: skyblue;background-image: url('img/paiche.png')" ui-sref="sendACar"></button>

            <button id="signOrderButton" class="button" style="width: 100%;height: 150px;margin-top: 20px;border-radius:75px;background-color: skyblue;background-image: url('img/qianshou.png')" ></button>
            <!--<button class="button button-calm">点击</button>-->
        </div>

    </ion-content>
</ion-view>

