<ion-view>
    <ion-header-bar align-title="left" class="bar-calm">
        <div class="buttons">
            <button class="button icon ion-android-arrow-back" ng-click="fromSendCarWithTableToSelectCar()">返回</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button icon ion-ios-home" ng-click="goToMain()">首页</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input" style="font-weight: 400">
                <span class="input-label">车牌号码:</span>
                <input id="carNumberInputRevise" type="text" onkeyup="value=value.replace(/[^\a-\z\A-\Z\u4E00-\u9FA5\d]/g,'')" placeholder="请输入车牌号码！" ng-model="carNumberInput">
            </label>
            <label class="item item-input" style="font-weight: 400">
                <span class="input-label">司机姓名:</span>
                <input  id="driverInputRevise" type="text" onkeyup="value=value.replace(/[^\a-\z\A-\Z\u4E00-\u9FA5\d]/g,'')" placeholder="请输入司机姓名！" ng-model="driverInput">
            </label>
            <label class="item item-input" style="font-weight: 400">
                <span class="input-label">联系方式:</span>
                <input id="phoneInputRevise" type="tel" onkeyup="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}" maxlength="11" placeholder="请输入联系方式！" ng-model="phoneInput">
            </label>
            <label class="item item-input" style="font-weight: 400">
                <span class="input-label">预约日期:</span>
                <input id="jqueryTimePickerRevise" type="text" style="background-color: transparent" readonly ng-click="touch('#jqueryTimePickerRevise','datetime')" placeholder="请选择预约日期！"  ng-model="jqueryTimePicker">
            </label>
        </div>
        <table style="width:100%;margin-top: -10px">
            <tr>
                <td>
                    <ion-toggle ng-click="changeTheIsOnOrOff()" ng-model="isOnOrOff" style="border-top: none;padding-top:12px;margin-top: -10px">
                        <span class="input-label">拼车:</span>
                    </ion-toggle>
                </td>
                <td>
                    <span style="font-size: 16px;margin-left: 10px">车型:</span><label style="width:100px;margin-left: 15px"><select id="carTypeRevise" style="height:30px" ng-model="drivertype">
                    <option value ="4.2米">4.2米</option>
                    <option value ="5.0米">5.0米</option>
                    <option value ="6.0米">6.0米</option>
                    <option value ="6.5米">6.5米</option>
                    <option value ="6.8米">6.8米</option>
                    <option value ="7.2米">7.2米</option>
                    <option value ="7.6米">7.6米</option>
                    <option value ="8.6米">8.6米</option>
                    <option value ="9.6米">9.6米</option>
                    <option value ="12.5米">12.5米</option>
                    <option value ="13.7米">13.7米</option>
                    <option value ="15米">15米</option>
                    <option value ="16.5米">16.5米</option>
                </select></label>
                </td>
            </tr>
        </table>

        <div style="width: 100%;border: double 1px #dddddd">
            <div style="margin-top: 10px;margin-left: 10px;">
                <span style="font-size: 16px;font-weight: 500">订单列表:</span>
            </div>
            <table style="width:100%;text-align: center;font-size: 15px;">
                <tr style="margin-top: 10px">
                    <td><div style="border-top: double 1px #dddddd;border-right: double 1px #dddddd;border-bottom: double 1px #dddddd;padding: 5px 0 5px 0">订单号</div></td>
                    <td><div style="border-top: double 1px #dddddd;border-right: double 1px #dddddd;border-bottom: double 1px #dddddd;padding: 5px 0 5px 0">到货地</div></td>
                    <td><div style="border-top: double 1px #dddddd;border-right: double 1px #dddddd;border-bottom: double 1px #dddddd;padding: 5px 0 5px 0">实际件数</div></td>
                    <td><div style="border-top: double 1px #dddddd;border-bottom: double 1px #dddddd;padding: 5px 0 5px 0">标准件数</div></td>
                </tr>
                <tr ng-repeat="theSelctOrder in theWantReviseOrderList">
                    <td><div style="border-right: double 1px #dddddd;border-bottom: double 1px #dddddd;padding: 5px 0 5px 0">{{theSelctOrder.ordercode}}</div></td>
                    <td><div style="border-right: double 1px #dddddd;border-bottom: double 1px #dddddd;padding: 5px 0 5px 0">{{theSelctOrder.dhd}}</div></td>
                    <td><div style="border-right: double 1px #dddddd;border-bottom: double 1px #dddddd;padding: 5px 0 5px 0">{{theSelctOrder.nnumber}}</div></td>
                    <td><div style="border-bottom: double 1px #dddddd;padding: 5px 0 5px 0">{{theSelctOrder.tj}}</div></td>
                </tr>
                <tr>
                    <td><div style="border-right: double 1px #dddddd;padding: 5px 0 5px 0"><b>合计</b></div></td>
                    <td><div style="border-right: double 1px #dddddd;padding: 5px 0 5px 0">xxxx</div></td>
                    <td><div style="border-right: double 1px #dddddd;padding: 5px 0 5px 0">{{number3}}</div></td>
                    <td><div style="padding: 5px 0 5px 0">{{number4}}</div></td>
                </tr>
            </table>

        </div>
        <br/>
        <table style="width:100%;">
            <tr>
                <td><button class="button button-outline button-positive" style="width: 95%;margin-left: 10px" ng-click="updateTheOrder()">提交</button></td>
            </tr>
        </table>

    </ion-content>
</ion-view>

